<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869186693441-s18dkh6ivpu5rkp1ps9l07c6m0spo0t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869186693441-s18dkh6ivpu5rkp1ps9l07c6m0spo0t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAefUMC4YslIiRRG--uQXA085kKJJGkLJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>869186693441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutsenger</string>
	<key>PROJECT_ID</key>
	<string>flutersenger</string>
	<key>STORAGE_BUCKET</key>
	<string>flutersenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869186693441:ios:00d030caad07840663d9c0</string>
</dict>
</plist>